<nav class="navbar navbar-light bg-light">
   <div class="row">
      <a class="navbar-brand" href="#">Game Informer Scraper</a>
      <a href="/savedArticles">
         <button class="btn btn-primary" id="saved-articles">View Saved Articles</button>
      </a>
      <button class="btn btn-primary" id="scrape-articles">Scrape Articles</button>
      <button class="btn btn-danger" id="clear-articles">Clear Articles</button>
   </div>
</nav>

<div class="container-fluid" id="articles">
   {{#each articles}}
   <div class="card p-5">
      <ul>
         <li>Title: {{title}}</li>
         <li>Summary: {{summary}}</li>
         <li>By: {{author}}</li>
         <li>Read <a href="{{url}}">here!</a></li>
      </ul>
      <div>
         <button class="btn btn-danger save-article" data-id="{{id}}">Save Article</button>
      </div>
   </div>
   {{/each}}
</div>

<script>
   $("#clear-articles").on("click", function() {
      $.get("/deleteArticles").then(function(res) {
        $("#articles").empty();
      })
   })

   $("#scrape-articles").on("click", function() {
      $.get("/scrape").then(function(res) {
        location.reload();
      })
   })

   $(".save-article").on("click", function() {
      var id = $(this).attr("data-id");

      $.ajax({
         method: "PUT",
         url: "saveArticle/" + id
      }).then(function(res) {
         location.reload();
      })
   })
</script>